---
layout: default

---

<div class="post inner-max-width col-12 flex-wrapper flex-col justify-between ">

    <header class="post-header flex-wrapper flex-col flex-row-lg align-items-center-lg justify-content-between flex-grow1 mb-4">
        <h2 class="post-title p-name mb-1 mb-lg-0" itemprop="name headline">{{ page.title | escape }}</h2>
        <p class="date small opacity-50 m-0 z-index-n-1">{{ page.date| date: "%m.%d.%Y" }}</p>
           
    </header>
    <div class="post-content">
        {{ content }}
    </div>
   

</div>