:root {
    --line-height: 1.3;
    --line-height-space: calc(var(--line-height)*1rem);
    --link-color: #00f;
    --standard-spacer: 0.5rem;
}


.grid {
    width:100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(-standard-spacer);
    grid-column-gap: calc(0.5*var(--line-height-space))
}



.main {
    padding: calc(2*var(--standard-spacer));
    margin:0;
}

.bg-image{
    height:100vh;
    background-image: url('img/park.JPG');
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
    -webkit-filter: blur(6px); /* Safari 6.0 - 9.0 */
    filter: blur(6px);
}

.bg-color-cover {
     height: 100%;
    width:100%;
    position:absolute;
    top:0;
}

p, a, a:hover, a:visited, a:active {
    font-size: 0.9rem;
    line-height:var( --line-height);
    font-family: monospace;
    color: white;
    z-index: 2;
}

p{
    margin-bottom: var( --line-height-space);
}



span.arena-logo, span.arena-logo a {
      width: 30px;
      height: auto;
      margin: auto 0; 
      color: white;
  
        
    }

span.arena-logo svg {
        fill: white;
        display: block;
        margin: 0 auto;
    }


    
a.special-fish-logo {
      width: 15px;
      height: 15px;
      aspect-ratio: 1 / 1;
      margin: auto 0; 
      background-color:white;
      margin-left:10px;
      
    }

.flex {
    display: flex;
}

.flex-row{
    flex-direction: row;
}

.top{
    top: 0;
    position: absolute;
}




@media(min-width:768px) {
    .main {
        max-width:60vw;
    }

    :root {
    --standard-spacer: 1rem;
}

}

@media(min-width:1025px) {
    .main {
        max-width:40vw;
    }

}


