
    <p>Maddy Bruster is a graphic designer, writer and web developer living in New York City. She has worked as a graphic designer, front-end developer and copywriter with organizations of various sizes.</p>
        
    <p>She has written for <i>The End, The Creative Independent, Dimepiece, New York Review of Architecture</i>, AIGA's <i>Eye on Design</i> and other publications.</p>  
        
    <p>From 2020-2022 she held design and web development roles at <a href="https://partnerandpartners.com">Partner & Partners</a>. Since 2020 she has run an evolving independent design practice, IT HAS TO BE REAL, collaborating with design and architecture studios, small businesses, startups, cultural institutions, artists and individuals to realize ideas across printed and digital matter. IHTBR works with clients from industries as various as art, architecture, technology, government, advocacy, politics and sports.</p>


      <details class="accordion" ontoggle="this.querySelector('summary').textContent = this.open ? ' less' : ' more'">
        <summary> more</summary>
        <p class="more">In the capacity of IT HAS TO BE REAL she works on projects that range from the hyper-commercial (websites for software companies) to one-off articles and illustrations driven by her own interests. In an era of increasing specialization she remains a committed generalist and jack-of-all-trades.</p>
          
        <p>As a designer her work is highly typographic and involved with language and ideas over and above images. She is interested in language and writing as part of a design practice, exemplars of which include Lorraine Wild, Stuart Bailey and Paul Elliman. Her work often explores solutions driven by ideas, coincidences, borrowing, and copying as strategies for creativity, and the aesthetics of the default and banal.</p>
      </details>