


  <div class="flex flex-col flex-lg-row gap-4 main mt-4 mt-lg-6">

    <div class="column flex-1">
      <div class="section">
      <p class="mb-2">about</p>
      <p>Maddy Bruster is a graphic designer and writer living and working in New York City. She has worked as an art director, graphic designer, front-end developer and copywriter with organizations of various sizes.</p>

      <p>From 2020-2022 she held design and web development roles at <a href="https://partnerandpartners.com">Partner & Partners</a>. Since 2020 she has run an evolving independent design practice, IT HAS TO BE REAL, operating as an LLC. Working as IT HAS TO BE REAL, Maddy collaborates with design and architecture studios, small businesses, startups, cultural institutions, artists and individuals to realize ideas across printed and digital matter.</p>

      <p>She has written for AIGA's <i>Eye on Design, The Creative Independent, Dimepiece, New York Review of Architecture</i> and others.</p>

      <p>In the capacity of IT HAS TO BE REAL she works on projects that range from the hyper-commercial (websites for software companies) to one-off articles and illustrations driven by her own interests. In an era of increasing specialization she remains a committed generalist and jack-of-all-trades. Her clients come from industries as various as art, architecture, technology, government, advocacy, politics and sports. Please get in touch below.</p>
      </div>

      <div class="section">
      <a href="mailto:info@maddybruster.com" class="email-button">email me</a>
      <a href="files/cv.pdf" target="_blank" class="email-button">CV available here</a>
      </div>


    </div>


  <div class="column flex-1">
   <div class="section">
    <p class="mb-2">services</p>
   
    <div class="two-column">
    <div class="col-1">
    <p class="mb-1">graphic design</p>
    <p class="mb-1">creative direction</p>
    <p class="mb-1">identity design</p>
    <p class="mb-1">web design</p>
    <p class="mb-1">project management</p>
    <p class="mb-1">copywriting</p>
    </div>

    <div class="col-2 flex-1">
    <p class="mb-1">web development</p>
    <p class="mb-1">information architecture</p>
    <p class="mb-1">UX design</p>
    <p class="mb-1">dev management</p>
    <p class="mb-1">content development</p>
    <p class="mb-1">content strategy</p>
    </div>

    </div>
    </div>

     <div class="section">
      <p>Select clients include the WNBA, The Locavore Guide, AI Now Institute, Jain Family Institute, Van Alen Institute, The Rockefeller Foundation, The University of Texas at Austin, Final Draft, Mailchimp, and Taylor & Francis.</p>

    <!---
    <div class="two-column">
        <div class="col-1">
        <p class="mb-2">The Locavore Guide</p>
        <p class="mb-2">AI Now Institute</p>
        <p class="mb-2">Jain Family Institute</p>
        <p class="mb-2">Van Alen Institute</p>
        <p class="mb-2">Interference Archive</p>
        <p class="mb-2">Urban Design Forum</p>
        <p class="mb-2">Encode Justice</p>
        <p class="mb-2">Accountable Tech</p>
        <p class="mb-2">HUB Project</p>
        </div>

        <div class="col-2 flex-1">
        <p class="mb-2">The University of Texas at Austin</p>
        <p class="mb-2">The Rockefeller Foundation</p>
        <p class="mb-2">Fraunces Tavern Museum</p>
        <p class="mb-2">Chainalysis</p>
        <p class="mb-2">Final Draft</p>
        <p class="mb-2">Mailchimp</p>
        <p class="mb-2">Taylor & Francis</p>
        <p class="mb-2">C&G Partners</p>
        <p class="mb-2">W X Y</p>
        <p class="mb-2">ESKW Architects</p>
    </div>

    </div> 
    -->

    </div>

     <div class="section">
      <p class="mb-2">teaching</p>
      <p class="mb-0">2025-current, Pratt Institute, School of Design</p>
      <p>Communications Design, Professional Practice</p>
     </div>

     <div class="section">
      <p class="mb-2">writing</p>
      <p class="mb-1"><i>(forthcoming)</i> Issue 5 "Shame," <i>The End magazine</i>, 2026</p>
      <p class="mb-1"><a href="https://thecreativeindependent.com/people/novelist-sara-levine-on-doing-whatever-helps-you-move-forward/" target="blank">an Interview with novelist Sara Levine</a>, <i>The Creative Independent</i>, 2024</p>
      <p class="mb-1"><a href="https://dimepiece.co/stories/Dream-Watch/06788873-e95c-4e70-b177-ba57cfcdda19" target="blank">on the Swatch .beat watch</a>, <i>Dimepiece Magazine</i>, 2024</p>
      <p class="mb-1"><i><a href="https://nyra.nyc/skyline/dispatches/not-empty" target="blank">Deserts Are Not Empty</i></a>, <i>New York Review of Architecture</i>, GSAPP </p>
      <p class="mb-1"><a href="https://eyeondesign.aiga.org/the-fence-brings-a-new-look-to-the-staid-world-of-current-affairs-mags/" target="blank">on <i>The Fence</i> magazine</a>, for <i>AIGA Eye on Design</i></p>
    </div>


  </div>


  <div class="column flex-1">
  <div class="section mr-lg-5">
      <p class="mb-2">archive</p>
      {{ partial "archive.html" }}
  

    </div>

  </div>
 







</div>