<header class="post-header mb-4">
    <h1 class="post-title">{{ .Params.title | markdownify }}</h1>
    <div class="post-meta">
        {{ with .Params.category }}
        <p class="post-meta-category mb-0">{{ if reflect.IsSlice . }}{{ delimit . ", " }}{{ else }}{{ . }}{{ end }}</p>
        {{ end }}
        {{ with .Params.tags }}
        <p class="post-meta-tags mb-0">tagged: {{ delimit . ", " }}</p>
        {{ end }}
        {{ with .Params.siteurl }}
        {{ $displayURL := . | strings.TrimPrefix "https://www." | strings.TrimPrefix "http://www." | strings.TrimPrefix "https://" | strings.TrimPrefix "http://" }}
        <a href="{{ . }}" target="_blank" rel="noopener" class="post-external">{{ with $.Params.publication }}{{ . | markdownify }}{{ else }}{{ $displayURL }}{{ end }} ↗</a>
        {{ end }}
    </div>
</header>
