{{- $image := .image -}}
{{- $alt := .alt | default "" -}}
{{- $class := .class | default "" -}}
{{- $loading := .loading | default "lazy" -}}
{{- $decoding := .decoding | default "async" -}}
{{- $fetchpriority := .fetchpriority | default "" -}}
{{- $attrs := .attrs | default dict -}}
{{- $defer := .defer | default false -}}
{{- $placeholder := "data:image/gif;base64,R0lGODlhAQABAAAAACw=" -}}

{{- if not $image -}}
    {{- errorf "responsive-image: missing image" -}}
{{- end -}}

{{- if $defer -}}
<img src="{{ $placeholder }}" data-src="{{ $image.RelPermalink }}" alt="{{ $alt }}" class="{{ $class }}" loading="{{ $loading }}" decoding="{{ $decoding }}"
    {{- if $fetchpriority }} fetchpriority="{{ $fetchpriority }}"{{- end -}}
    {{- range $key, $value := $attrs }} {{ $key }}="{{ $value }}"{{- end -}} />
{{- else -}}
<img src="{{ $image.RelPermalink }}" alt="{{ $alt }}" class="{{ $class }}" loading="{{ $loading }}" decoding="{{ $decoding }}"
    {{- if $fetchpriority }} fetchpriority="{{ $fetchpriority }}"{{- end -}}
    {{- range $key, $value := $attrs }} {{ $key }}="{{ $value }}"{{- end -}} />
{{- end -}}
