<div class="gallery gallery-writing h-100">
  <div class="writing-content py-3 py-lg-4 pr-xl-5">
    <p><i>(forthcoming)</i> "My Punishment," "Trivial Pursuit," "The Rules," "The Wrong Track" and "Dead Ends," stories for <i>The End Magazine</i>, Issue 5 "Shame," 2026</p>
    <hr class="writing-divider">
    <p><a href="https://thecreativeindependent.com/people/novelist-sara-levine-on-doing-whatever-helps-you-move-forward/" target="blank">an Interview with novelist Sara Levine</a>, <i>The Creative Independent</i>, 2024</p>
    <hr class="writing-divider">
    <p><a href="https://dimepiece.co/stories/Dream-Watch/06788873-e95c-4e70-b177-ba57cfcdda19" target="blank">The .beat Watch: Swatch's Y2K Fever Dream</a>, <i>Dimepiece Magazine</i>, 2024</p>
    <hr class="writing-divider">
    <p><a href="https://nyra.nyc/skyline/dispatches/not-empty" target="blank"><i>Deserts Are Not Empty</i></a>, for Skyline, <i>New York Review of Architecture</i>, 2022</p>
    <hr class="writing-divider">
    <p><a href="https://eyeondesign.aiga.org/the-fence-brings-a-new-look-to-the-staid-world-of-current-affairs-mags/" target="blank"><i>The Fence</i> Brings a New Look to the Staid World of Current Affairs Mags</a>, <i>AIGA Eye on Design</i>, 2021</p>
    <hr class="writing-divider">
     <p><a href="https://eyeondesign.aiga.org/every-design-studio-should-be-a-worker-owned-studio" target="blank">Every Design Studio Should Be a Worker-Owned Studio</a>, written and edited with Partner & Partners, <i>AIGA Eye on Design</i>, 2021</p>
  </div>
</div>
