@charset "utf-8";

$backgroundColor: #ffffff;
$textColor: #000000;
$code-background-color: #eeeeff !default;

$link-hover-color: #000000;
$post-link-color: cornflowerblue;
$code-snippet-background: #eef;


$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

// Define defaults for each variable.

$base-font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif !default;
$code-font-family: "Menlo", "Inconsolata", "Consolas", "Roboto Mono", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;
$base-font-size:   16px !default;
$base-font-weight: 300 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

@media (max-width: 400px) {
  $spacing-unit:     1.5rem !important;
}

$spacing-unit:     3rem !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-mobile:        445px !default;
$on-palm:          600px !default;
$on-laptop:        991px !default;

$on-small:         $on-mobile !default;
$on-medium:        $on-palm !default;
$on-large:         $on-laptop !default;
$on-xl:            1200px !default; 
$on-xxl:           1440px !default;            

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }

// Notice the following mixin uses max-width, in a deprecated, desktop-first
// approach, whereas media queries used elsewhere now use min-width.
@mixin media-query($device) {
    @media screen and (max-width: $device) {
      @content;
    }
  }
  
  @mixin relative-font-size($ratio) {
    font-size: #{$ratio}rem;
  }

  

body {
  background: $backgroundColor;
  color: $textColor;
  font-family: $bodyFont;
}

html {
  font-size: $base-font-size;
}

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;

}

/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $textColor;
  background-color: $backgroundColor;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  height: 100vh;
  width:100vw;
  margin: 0;
  overflow-wrap: break-word;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure, figcaption,
%vertical-rhythm {
  margin-bottom: calc($spacing-unit * 0.5);
}

br {
  display:inline-block;
}

hr {
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
}

/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}

h2 , h2:hover, h2 a, h2 a:hover {
  @include relative-font-size(1.625);
  text-decoration: none;
}

p, h3, h4, h5, ol, ul {
  font-size: calc($base-font-size * 1.25);
  line-height: calc($base-line-height * 0.925);
}

p b {
  font-weight: 500 !important;
  letter-spacing: -0.1px;
}

.small {
  font-size: $small-font-size;
}

.font-weight-300 {
  font-weight: 300 !important;
}

.font-weight-400 {
  font-weight: 400 !important;
}

.font-weight-500 {
  font-weight: 500 !important;
}



.info p {
  @include relative-font-size(1.625);
  line-height: calc($base-line-height * 0.875);
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img, div img {
  display: block;
  margin-bottom: calc($spacing-unit * 0.25);
}

figcaption {
  font-size: $small-font-size;
  opacity: 0.5;
  z-index:-1;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
  line-height: normal;
}



/**
 * Links
 */
a {
  color: $textColor;
  text-decoration: none;

  &:visited {
    color: $textColor;
  }

  &:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}

a.underline{
  color:$textColor;
  border-bottom: 1px solid $textColor;
}

a.underline:hover{
  color:$textColor;
  border-bottom: 0px;
  text-decoration: none;
}

.post a, a.blue-link-hover:hover,
 *.blue-link, *.blue-link a {
  color:$post-link-color;
}

.post a:hover, a.blue-link-hover,
*.blue-link:hover, *.blue-link a:hover {
  color:$textColor;
  text-decoration: none;
 
}

.words .post h2 a{
  color:$textColor;
}

.words .post h2 a:hover {
  opacity: (0.75);
}

.info h2 {
line-height: 1.25;
}

.story-content p, .post-content p {
  font-size: calc($base-font-size * 1.25);
  line-height: calc($base-line-height * 0.975);
  letter-spacing: -0.05px;
}


/**
 * Blockquotes
 */
blockquote {
  color: $textColor;
  border-left: 4px solid $textColor;
  padding-left: $spacing-unit * .5;
  @include relative-font-size(1.125);
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }

  i, em {
    font-style: normal;
  }
}



/**
 * Code formatting
 */
pre,
code {
  font-family: $code-font-family;
  font-size: 0.75em;
  border: 1px solid $textColor;
  border-radius: 3px;
  background-color: $code-background-color;
}

code {
  padding: 1px 5px;
}

pre {
  font-size: 1.25em;
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

.highlight {
  border-radius: 3px;
  background: $code-background-color;
  @extend %vertical-rhythm;

  .highlighter-rouge & {
    background: $code-background-color;
  }
}



/**
 * Wrapper
 */


.wrapper {
 max-width: calc(#{$content-width} - (#{$spacing-unit})); 
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit * .5;
  padding-left: $spacing-unit * .5;
  @extend %clearfix;

  @media screen and (min-width: $on-large) {
    $content-width: 100vw;
    max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    margin:0;
  }
}



/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.opacity-50{
  opacity: 0.5;
}

.opacity-100{
  opacity:1;
}

.z-index-n-1 {
  z-index: -1;
}

.border-1 {
  border-width: 1px !important;
}

.border-2 {
  border-width: 2px !important;
}

.border-3 {
  border-width: 3px !important;
}

.border-4 {
  border-width: 4px !important;
}

.border-5 {
  border-width: 5px !important;
}

.w-25 {
  width: 25% !important;
}

.w-50 {
  width: 50% !important;
}

.w-75 {
  width: 75% !important;
}

.w-100 {
  width: 100% !important;
}

.w-auto {
  width: auto !important;
}

.mw-100 {
  max-width: 100% !important;
}

.vw-100 {
  width: 100vw !important;
}

.min-vw-100 {
  min-width: 100vw !important;
}

.h-25 {
  height: 25% !important;
}

.h-50 {
  height: 50% !important;
}

.h-75 {
  height: 75% !important;
}

.h-100 {
  height: 100% !important;
}

.h-auto {
  height: auto !important;
}

.h-fit-content {
  height: fit-content !important;
}

.mh-100 {
  max-height: 100% !important;
}

.vh-100 {
  height: 100vh !important;
}

.min-vh-100 {
  min-height: 100vh !important;
}



.gap-0 {
  gap: 0 !important;
}

.gap-1 {
  gap: calc($spacing-unit / 12) !important;
}

.gap-2 {
  gap: calc($spacing-unit / 6) !important;
}

.gap-3 {
  gap: calc($spacing-unit / 3) !important;
}

.gap-4 {
  gap: 1.5rem !important;
}

.gap-5 {
  gap: 3rem !important;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-around {
  justify-content: space-around !important;
}

.justify-content-evenly {
  justify-content: space-evenly !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-baseline {
  align-items: baseline !important;
}

.align-items-stretch {
  align-items: stretch !important;
}

.align-content-start {
  align-content: flex-start !important;
}

.align-content-end {
  align-content: flex-end !important;
}

.align-content-center {
  align-content: center !important;
}

.align-content-between {
  align-content: space-between !important;
}

.align-content-around {
  align-content: space-around !important;
}

.align-content-stretch {
  align-content: stretch !important;
}

.align-self-auto {
  align-self: auto !important;
}

.align-self-start {
  align-self: flex-start !important;
}

.align-self-end {
  align-self: flex-end !important;
}

.align-self-center {
  align-self: center !important;
}

.align-self-baseline {
  align-self: baseline !important;
}

.align-self-stretch {
  align-self: stretch !important;
}

.order-first {
  order: -1 !important;
}

.order-0 {
  order: 0 !important;
}

.order-1 {
  order: 1 !important;
}

.order-2 {
  order: 2 !important;
}

.order-3 {
  order: 3 !important;
}

.order-4 {
  order: 4 !important;
}

.order-5 {
  order: 5 !important;
}

.order-last {
  order: 6 !important;
}


.m-0 {
  margin: 0 !important;
}

.m-1 {
  margin: calc($spacing-unit / 12) !important;
}

.m-2 {
  margin: calc($spacing-unit / 6) !important;
}

.m-3 {
  margin: calc($spacing-unit / 3) !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.m-5 {
  margin: 3rem !important;
}

.m-auto {
  margin: auto !important;
}

.mx-0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.mx-1 {
  margin-right: 0.25rem !important;
  margin-left: 0.25rem !important;
}

.mx-2 {
  margin-right: calc($spacing-unit / 6) !important;
  margin-left: calc($spacing-unit / 6) !important;
}

.mx-3 {
  margin-right: calc($spacing-unit / 3) !important;
  margin-left: calc($spacing-unit / 3) !important;
}

.mx-4 {
  margin-right: 1.5rem !important;
  margin-left: 1.5rem !important;
}

.mx-5 {
  margin-right: 3rem !important;
  margin-left: 3rem !important;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.my-1 {
  margin-top: calc($spacing-unit / 12) !important;
  margin-bottom: calc($spacing-unit / 12) !important;
}

.my-2 {
  margin-top: calc($spacing-unit / 6) !important;
  margin-bottom: calc($spacing-unit / 6) !important;
}

.my-3 {
  margin-top: calc($spacing-unit / 3) !important;
  margin-bottom: calc($spacing-unit / 3) !important;
}

.my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.my-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: calc($spacing-unit / 12) !important;
}

.mt-2 {
  margin-top: calc($spacing-unit / 6) !important;
}

.mt-3 {
  margin-top: calc($spacing-unit / 3) !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

.mt-auto {
  margin-top: auto !important;
}

.me-0 {
  margin-right: 0 !important;
}

.me-1 {
  margin-right: calc($spacing-unit / 12) !important;
}

.me-2 {
  margin-right: calc($spacing-unit / 6) !important;
}

.me-3 {
  margin-right: calc($spacing-unit / 3) !important;
}

.me-4 {
  margin-right: 1.5rem !important;
}

.me-5 {
  margin-right: 3rem !important;
}

.me-auto {
  margin-right: auto !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: calc($spacing-unit / 12) !important;
}

.mb-2 {
  margin-bottom: calc($spacing-unit / 6) !important;
}

.mb-3 {
  margin-bottom: calc($spacing-unit / 3) !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.mb-auto {
  margin-bottom: auto !important;
}

.ms-0 {
  margin-left: 0 !important;
}

.ms-1 {
  margin-left: calc($spacing-unit / 12) !important;
}

.ms-2 {
  margin-left: calc($spacing-unit / 6) !important;
}

.ms-3 {
  margin-left: calc($spacing-unit / 3) !important;
}

.ms-4 {
  margin-left: 1.5rem !important;
}

.ms-5 {
  margin-left: 3rem !important;
}

.ms-auto {
  margin-left: auto !important;
}

.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: calc($spacing-unit / 12) !important;
}

.p-2 {
  padding: calc($spacing-unit / 6) !important;
}

.p-3 {
  padding: calc($spacing-unit / 3) !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.px-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.px-1 {
  padding-right: calc($spacing-unit / 12) !important;
  padding-left: calc($spacing-unit / 12) !important;
}

.px-2 {
  padding-right: calc($spacing-unit / 6) !important;
  padding-left: calc($spacing-unit / 6) !important;
}

.px-3 {
  padding-right: calc($spacing-unit / 3) !important;
  padding-left: calc($spacing-unit / 3) !important;
}

.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.px-5 {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.py-1 {
  padding-top: calc($spacing-unit / 12) !important;
  padding-bottom: calc($spacing-unit / 12) !important;
}

.py-2 {
  padding-top: calc($spacing-unit / 6) !important;
  padding-bottom: calc($spacing-unit / 6) !important;
}

.py-3 {
  padding-top: calc($spacing-unit / 3) !important;
  padding-bottom: calc($spacing-unit / 3) !important;
}

.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-1 {
  padding-top: calc($spacing-unit / 12) !important;
}

.pt-2 {
  padding-top: calc($spacing-unit / 6) !important;
}

.pt-3 {
  padding-top: calc($spacing-unit / 3) !important;
}

.pt-4 {
  padding-top: 1.5rem !important;
}

.pt-5 {
  padding-top: 3rem !important;
}

.pe-0 {
  padding-right: 0 !important;
}

.pe-1 {
  padding-right: calc($spacing-unit / 12) !important;
}

.pe-2 {
  padding-right: calc($spacing-unit / 6) !important;
}

.pe-3 {
  padding-right: calc($spacing-unit / 3) !important;
}

.pe-4 {
  padding-right: 1.5rem !important;
}

.pe-5 {
  padding-right: 3rem !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-1 {
  padding-bottom: calc($spacing-unit / 12) !important;
}

.pb-2 {
  padding-bottom: calc($spacing-unit / 6) !important;
}

.pb-3 {
  padding-bottom: calc($spacing-unit / 3) !important;
}

.pb-4 {
  padding-bottom: 1.5rem !important;
}

.pb-5 {
  padding-bottom: 3rem !important;
}

.ps-0 {
  padding-left: 0 !important;
}

.ps-1 {
  padding-left: calc($spacing-unit / 12) !important;
}

.ps-2 {
  padding-left: calc($spacing-unit / 6) !important;
}

.ps-3 {
  padding-left: calc($spacing-unit / 3) !important;
}

.ps-4 {
  padding-left: calc($spacing-unit / 2) !important;
}

.ps-5 {
  padding-left: $spacing-unit !important;
}

.object-fit-contain{
  object-fit: contain;
}

.object-fit-cover{
  object-fit: cover;
}

.column-gap {
  column-gap: $spacing-unit !important;
}

.column-gap-half {
  column-gap: calc($spacing-unit / 2) !important;
}



