---
layout: default
title: feed
permalink: /feed/
---
<div class="grid">
<div class="feed-memo col-12 col-lg-3 p-0 h-fit-content w-75 w-100-lg ">
    <p class=" small px-3 py-4">
        Photos taken by me, taken by friends, found on the internet, found in a forgotten folder on my computer. I like looking at my photos in a grid; I learn a lot about what I'm interested in, what I stop to take photos of, the places I go. 
    </p>    
</div>

<div class="feed-container col-12 col-lg-9 flex-col flex-row-lg flex-wrap-lg z-index-n-1">

    {% assign sorted = site.static_files | reverse %}
	{% for image in sorted %}
    {% if image.path contains '/_feed/published/' %}

    <div class="col-sm-4 p-0 feed-image-container">
        <img class="feed-image" src="{{ image.path | relative_url }}" />        
    </div>

    {% endif %}
	{% endfor %}
  
</div>

</div>